* {
    box-sizing:border-box;
}

html {
    font-size: 62.5%;
    color:@whammy-white;
}

body{
    background-color:@cool-blue;
}

h1{
    .font(@abril, 600%);
}

h2{
    .font(@abril, 480%);
}

h3{
    .font(@abril, 240%);
}

h4{
    .font(@abril, 400%);
}

h5{
    .font(@abril, 380%);
}

p{
    .font(@muli, 180%);
    line-height:1.2;
}

footer p{
    .font(@muli, 260%, bold);
}

button {
    .font(@muli, 240%, bold);
    color:white;
    border:none;
}

