.header{
    padding: 3% 0;
    height:754px;
    //background-color:  linear-gradient(172.46deg, rgba(14, 11, 32, 0.86) 14.75%, rgba(14, 11, 32, 0) 25.05%), linear-gradient(348.72deg, rgba(239, 1, 159, 0) 14.02%, rgba(14, 11, 32, 0.7) 74.08%);
    //background-repeat: no-repeat;
    background: url(../img/AdobeStock_188698373.jpg) no-repeat 80% center;
    //background-position:center;
    background-size:cover;
    h1{
        padding-left: 7%;
        .font(@cortado, 720%);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        color:@plush-pink;

        @media(max-width:500px){
            padding:0;
            text-align:center;
        }
    }

    h2{
        @media(max-width:500px){
            font-size:360%;
            //padding:2% 0;
        }
    }

    h3{
        font-size:360%;

        @media(max-width:500px){
            font-size: 240%;
            //padding: 2% 0;
        }
    }

    .subtitle{
        background: radial-gradient(196.56% 824.49% at 66.75% -23.66%, rgba(14, 11, 32, 0.36) 70.31%, rgba(239, 1, 159, 0.0825) 85.42%);
        margin: 2% 0;
        padding-left:7%;
        line-height: 1.2;

        @media(max-width:500px){
            margin: 14% 0;
            padding: 2% 8%;
        }
    }

    .button-container{
        display:flex;
        justify-content:center;

        @media(max-width: 500px){
            padding-top: 17%;
        }
    }

    button{
        margin-top:20%;
        margin-left:64%;
        text-transform:uppercase;
        letter-spacing:3.6px;
        padding: 2% 4%;
        border-radius: 50px;
        background: radial-gradient(140.21% 237.58% at 78.43% 139.84%, rgba(239, 1, 159, 0.75) 0%, rgba(239, 1, 159, 0) 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);

        @media(max-width:500px){
            padding: 4% 8%;
            margin:0;
        }
    }
}